* {
    text-align: center;
}

body {
    background-color: #1a1919;
    padding: 0 10vw 10vh;
}

.heading {
    font-size: 4rem;
    font-family: 'La Belle Aurore', cursive, sans-serif;
    line-height: 12vh;
    color: #e9c217;
    text-shadow: .1rem .15rem #ff4800;
}

img {
    width: 40vw;
    height: auto;
}

hr {
    border: none;
    border-top: 0.2rem dashed #636568;
    width: 60%;
    margin: 8vh auto;
}

.sub-heading {
    font-size: 2rem;
    font-family: 'Handlee', sans-serif;
    color: #ACBFA4;
}

li {list-style-type: none;}

ul {padding: 0;}

a {
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Ms Madi', sans-serif;
    font-family: 'WindSong', cursive;
    color: #e4c748;
    line-height: 8vh;
}