* {
    box-sizing: border-box;
    text-align: center;
    
}

body {
    padding: 10vw;
    margin: 0;
    background-color: #111827;
}

/* Navbar */
/* Dashboard */
/* Skills Progress */
/* Project Submissions */
/* CTA */
/* Fundraiser */
/* Socials */
/* Site Map */
/* Footer */